<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Samuel D. Pollard's website</title>
	<meta name="description" content="Website for Samuel Pollard">
	<meta name="keywords" content="Sam, Samuel Pollard, computer science, HPC, graph, floating-point, formal methods, binary analysis">
	<meta name="author" content="Samuel D. Pollard / Original design: http://brutalistframework.com">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@samdpollard">
	<meta name="twitter:title" content="Samuel D. Pollard">
	<meta name="twitter:description" content="Blog and professional website for Samuel D. Pollard">
	<!-- Twitter Summary card images must be at least 120x120px -->
	<meta name="twitter:image" content="https://sampollard.github.io/assets/images/me_france_1080.jpg">
	<meta name="twitter:image:alt" content="A photo of Sam">

	<!-- Open Graph data -->
	<meta property="og:title" content="Coquet: A blog about getting a PhD" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://sampollard.github.io" />
	<meta property="og:image" content="https://sampollard.github.io/assets/images/me_france_1080.jpg" />
	<meta property="og:description" content="Blog and professional website for Samuel Pollard" />
	<meta property="og:site_name" content="Samuel Pollard's website" />

	<!-- Icons -->
	<link rel="shortcut icon" href="/assets/images/mylogo.png" type="image/png" />
	<link rel="icon" href="/assets/images/mylogo.png" type="image/png" />
	<link rel="apple-touch-icon" href="/assets/images/mylogo.png" type="image/png" />

	<!-- CSS  -->
	<link href="/css/core/core.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

{% block content %}
{% endblock %}

	<footer class="black">
		<div class="row">
			<div class="feature-cover" style="width: 100%; height: 1vh"> </div>
		</div>
		<div class="row">
			<div class="col-sm-12 no-padding">
				<small>
					<p class="center white-text lucida-text">
							Website created using <a href="http://www.brutalistframework.com" class="water-text invert-hover">Brutalist Framework</a> and <a href="https://www.getzola.org" class="water-text invert-hover">Zola</a>.
						</p>
					<p class="center white-text lucida-text">&copy; 2021 <em>Samuel D. Pollard</em>. Website design licensed under the MIT License. All rights reserved for images and blog.</p>
				</small>
			</div>
		</div>
	</footer>
</body>
</html>
