{% extends "base.html" %}

{% block content %}
	<div class="container-fluid no-padding">
		<div class="row mint">
			<div class="col-sm-12 no-padding">
				<div class="black padding home-head">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div class="flower-blue box-shadow-triple">
								<img class="responsive logo" src="assets/images/me_france_1080.jpg" alt="Picture of Me"/>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 padding">
							<h2 class="palatino-text center fittext-h2"><span class="mint-text black-text-shadow"><strong>Samuel D. Pollard</strong></span></h2>
							<h4 class="mint-text center fittext-h4 tahoma-text heavy black-text-shadow">
								Ph.D. candidate at the University of Oregon
							</h4>
							<br>
							<p class="flow-text center courier-new-text heavy">
								<a href="http://ix.cs.uoregon.edu/~spollard/cv_pollard.pdf" class="pumpkin white-text invert-hover small-btn">CV (PDF)</a>
								<a href="http://ix.cs.uoregon.edu/~spollard/research.html" class="small-btn flower-blue white-text invert-hover">Research</a>
								<a href="https://github.com/sampollard" class="eggplant white-text invert-hover small-btn">Github</a>
							</p>
							<br>
							<div class="mint box-shadow-padded padding">
								<p class="black-text center verdana-text heavy">
									I'm a fourth year computer science Ph.D. student advised by <a href="http://ix.cs.uoregon.edu/~norris">Boyana Norris</a>. My primary interests are formal methods and HPC, specifically applied to floating point arithmetic.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row eggplant">
		<div class="col-sm-12 padding">
			<h5 id="page-content" class="comic-sans-text center vanilla-bean-text">Some Links</h5>
		</div>
	</div>

	<div class="row mint">
		<div class="col-sm-12 padding">
			<h5 id="page-content" class="palatino-text center vanilla-bean-text heavy"><a href="http://ix.cs.uoregon.edu/~spollard">My University of Oregon website can be found here</a></h5>
		</div>
	</div>

	<div class="row pumpkin">
		<div class="col-sm-12 padding">
			<h5 id="page-content" class="lucida-text center heavy white-text vanilla-bean-text"><a href="blog">Blog</a></h5>
		</div>
	</div>

	<div class="row flower-blue">
		<div class="col-sm-12 padding">
			<h6 id="extra-links" class="center tahoma-text">
				<a href="https://twitter.com/samdpollard" class="white-text invert-hover small-btn">Twitter</a>
				|
				<a href="https://www.researchgate.net/profile/Samuel_Pollard3" class="white-text invert-hover small-btn">ResearchGate</a>
				|
				<a href="https://orcid.org/0000-0002-3275-4064" class="white-text invert-hover small-btn">ORCID</a>
				|
				<a href="https://scholar.google.com/citations?user=X0zJ484AAAAJ&hl=en" class="white-text invert-hover small-btn">Google Scholar</a>
				|
				<a href="https://www.linkedin.com/in/sampollard/" class="white-text invert-hover small-btn">LinkedIn</a>
			</h6>
		</div>
	</div>

{% endblock content %}
