{% extends "base.html" %}
{% block content %}

	<div class="no-padding">
		<div class="row mint">
			<div class="col-sm-12 no-padding">
				<div class="black blog-head">
					<div class="row">
						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 padding center">
							<div class="box-shadow-triple vanilla-bean equal-height no-padding">
								<a href="/index.html">
									<img class="responsive" src="/assets/images/mylogo.svg" alt="My logo of my intials, SP"/>
								</a>
							</div>
						</div>
						<div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
							<div class="box-shadow-triple vanilla-bean">
								<h3 class="palatino-text heavy gray-text black-text-shadow">
									Coquet: <small><small style="text-shadow: none" > A blog about getting a PhD</small></small>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="academic" class="mint">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p class="lucida-text center flow-text black-text">
				// <a href="../index.html#academic">Academic</a> // Coq // {{ page.title }} //
			</p>
			</div>
		</div>
	</div>

	<div class="vanilla-bean">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9 col-lg-9">
					<div class="single-col pad50">
						<div class="tahoma-text charcoal-text">
							<h3 class="palatino-text heavy black-text">{{ page.title }}</h3>
							<p>{{ page.content | safe }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

