{% extends "base.html" %}
{% block content %}
	<div class="container-fluid no-padding vanilla-bean" style="width:100%">
		<div class="row mint">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
				<div class="black blog-head">
					<div class="row">
						<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 padding center">
							<div class="box-shadow-triple vanilla-bean equal-height no-padding">
								<a href="/index.html">
									<img class="responsive" src="/assets/images/mylogo.svg" alt="My logo of my intials, SP"/>
								</a>
							</div>
						</div>
						<div class="col-xs-8 col-sm-6 col-md-6 col-lg-7">
							<div class="box-shadow-triple vanilla-bean">
								<h1 class="palatino-text heavy gray-text black-text-shadow center">{{ section.title }}</h1>
							</div>
						</div>
						<div class="col-xs-8 col-sm-4 col-md-3 col-lg-4 padded">
							<div class="box-shadow-double padded peach"> 
								<p class="courier-new-text charcoal-text heavy"> Navigation </p>
								<p class="simple-nav">
									<a class="invert-hover small-btn" href="/">Home</a> |
									<a class="invert-hover small-btn" href="/research">Research</a> |
									<a class="invert-hover small-btn" href="/calendar">Calendar</a>
								</p>
								<hr class="jagged-rule-dark" />
								<p class="courier-new-text charcoal-text heavy">Topics</p>
								<ul class="tags">
									<li class="box-shadow silver">High-Performance Computing</li>
									<li class="box-shadow silver">Formal Methods</li>
									<li class="box-shadow silver">Floating-Point Arithmetic</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="Publications" class="row seafoam">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p class="lucida-text flow-text black-text" style="font-size:24pt">// Publications //</p>
			</div>
		</div>
		<div class="container">
			<div id="Conferences" class="row eggplant">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="lucida-text flow-text vanilla-bean-text center">// Conferences //</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
					<div class="tahoma-text charcoal-text padding bib" style="text-indent:-25px">
						<p class="bib">
						<b>S. D. Pollard</b>, S. Srinivasan, and B. Norris. A Performance and Recommendation System for Parallel Graph Processing Implementations: Work-in-Progress. In <i>The 10th ACM/SPEC International Conference on Performance Engineering Companion</i>, (ICPE ’19), pp. 25–28. Mumbai, India, Apr 2019. ACM. Acceptance Rate: 43% (10/23).
							<a href="https://dl.acm.org/citation.cfm?id=3313097">[URL]</a>
							<a href="artifacts/pollard_icpe19_epg.pdf">[PDF]</a>
							<a href="artifacts/pollard_icpe19_epg.bib">[Bib]</a>
							<a href="artifacts/pollard_icpe19_epg_slides.pdf">[Slides]</a>
						</p>
						<p class="bib">
						<b>S. D. Pollard</b><sup>*</sup>, N. Jain<sup>*</sup>, S. Herbein, and A. Bhatele, Evaluation of an Interference-free Node Allocation Policy on Fat-tree Clusters. In <i>Proceedings of the International Conference for High Performance Computing, Networking, Storage, and Analysis</i> (SC ’18), pp. 26:1–26:13. Dallas, TX, USA, Nov 2018. Acceptance rate: 24% (68/288).
							<a href="https://dl.acm.org/citation.cfm?id=3291691">[URL]</a>
							<a href="artifacts/pollard_sc18_jobsched.pdf">[PDF]</a>
							<a href="artifacts/pollard_sc18_jobsched.bib">[Bib]</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="Workshops" class="row center eggplant">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="lucida-text flow-text vanilla-bean-text">// Workshops //</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
				<div class="tahoma-text charcoal-text padding bib" style="text-indent:-25px">
					<p class="bib">
					<b>S. D. Pollard</b> and B. Norris. A Statistical Analysis of Error in MPI Reduction Operations. In <i>The Fourth International Workshop on Software Correctness for HPC Applications</i> (Correctness), pp. 49–57. Virtual Event, Nov 2020.
					<br>
					<a href="https://doi.org/10.1109/Correctness51934.2020.00011">[URL]</a>
					<a href="artifacts/pollard_correctness20.pdf">[PDF]</a>
					<a href="artifacts/pollard_correctness20.bib">[Bib]</a>
					<a href="artifacts/pollard_correctness20_presentation.pdf">[Slides]</a>
					<a href="https://www.youtube.com/watch?v=VEgSD2IEjhY">[YouTube]</a>
					</p>

					<p class="bib">
					<b>S. D. Pollard</b>, P. Johnson-Freyd, J. Aytac, T. Duckworth, M. J. Carson, G. C. Hulette, and C. B. Harrison. Quameleon: A Lifter and Intermediate Language for Binary Analysis. In <i>Workshop on Instruction Set Architecture Specification</i> (SpISA), pp. 1–4. Portland, OR, USA, Sep 2019.
					<br>
					<a href="https://www.cl.cam.ac.uk/~jrh13/spisa19.html">[URL]</a>
					<a href="artifacts/pollard_spisa19.pdf">[PDF]</a>
					<a href="artifacts/pollard_spisa19.bib">[Bib]</a>
					<a href="artifacts/pollard_spisa19_presentation.pdf">[Slides]</a>
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="Journals" class="row center eggplant">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="lucida-text flow-text vanilla-bean-text">// Journals //</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
				<div class="tahoma-text charcoal-text padding bib" style="text-indent:-25px">
					<p class="bib">
					S. Srinivasan and <b>S. D. Pollard</b>, B. Norris, S. K. Das, S. Bhowmick, A Shared-Memory Algorithm for Updating Tree-Based Properties of Large Dynamic Networks, <i>IEEE Transactions on Big Data</i>, pp. 1–15, Sep 2018.
						<a href="https://ieeexplore.ieee.org/document/8464249">[URL]</a>
						<a href="artifacts/srinivasan_mst_tbd18.pdf">[PDF]</a>
						<a href="artifacts/srinivasan_mst_tbd18.bib">[Bib]</a>
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="Posters" class="row center eggplant">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="lucida-text flow-text vanilla-bean-text">// Technical Posters //</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
				<div class="tahoma-text charcoal-text padding bib" style="text-indent:-25px">
					<p class="bib">
					<b>S. D. Pollard</b> and B. Norris, A Comparison of Parallel Graph Processing Implementations. In <i>IEEE International Conference on Cluster Computing</i> (CLUSTER), pp. 657–658, Honolulu, HI, USA, Sep 2017.
						<a href="http://ieeexplore.ieee.org/document/8048999/">[URL]</a>
						<a href="artifacts/pollard_cluster17_extabs.pdf">[PDF]</a>
						<a href="artifacts/pollard_cluster17_extabs.bib">[Bib]</a>
					</p>
				</div>
			</div>
		</div>
		<div id="Talks" class="row seafoam">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p class="lucida-text flow-text black-text" style="font-size:24pt">// Talks and Presentations //</p>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-12 col-sm-11 col-md-10 col-lg-9">
				<div class="tahoma-text charcoal-text padding bib" style="text-indent:-25px">
					<p class="bib">
						When Does a Bit Matter? Techniques for Verifying the Correctness of Assembly Languages and Floating-Point Programs. Dissertation defense. Eugene, OR, USA, May 2021.
						<i>[PDF] (TBA)</i>
						<a href="artifacts/pollard_dissertation.bib">[Bib]</i>
						<a href="artifacts/pollard_defense.pdf">[Slides]</a>
						<a href="https://www.youtube.com/watch?v=8QR75yGH8k8">[YouTube]</a>
					</p>
					<p class="bib">
						Verification Techniques for Low-Level Programs.
						My area exam literature review accepted as one of the requirements for advancement to candidacy. Eugene, OR, USA, Feb 2019.
						<a href="artifacts/pollard_area.pdf">[PDF]</a>
						<a href="artifacts/pollard_area.bib">[Bib]</a>
						<a href="artifacts/pollard_area_presentation.pdf">[Slides]</a>
						<a href="https://www.youtube.com/watch?v=zVxfpicB_qA">[YouTube]</a>
					</p>
					<p class="bib">
						Reproducibility in Parallel Graph Algorithms.
						<i>SIAM Conference on Computational Science and Engineering</i> (CSE19). Spokane, WA, USA, Feb 2019.
						<a href="http://meetings.siam.org/sess/dsp_talk.cfm?p=96920">[URL]</a>
						<a href="artifacts/pollard_cse19_presentation.pdf">[Slides]</a>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

